.todo-container {
    display: flex;
    flex-direction: column;
    /* Căn các phần tử theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều dọc */
    align-items: center;
    /* Căn giữa theo chiều ngang */
    height: 100vh;
    /* Chiều cao toàn màn hình */
    text-align: center;

}

.todo-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    background: linear-gradient(45deg, rgb(228, 19, 124), rgb(0, 172, 193));
    /* Chuyển màu từ hồng sang xanh */
    -webkit-background-clip: text;
    /* Cắt phần nền theo chữ */
    -webkit-text-fill-color: transparent;
    /* Màu chữ trong suốt để hiện gradient */
}


input {
    width: 200px;
    padding: 10px;
    border: 2px solid rgb(228, 19, 124);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    width: 80px;
    padding: 10px;
    border: 2px solid rgb(228, 19, 124);
    border-radius: 4px;
    color: rgb(228, 19, 124);
    font-size: 16px;
    cursor: pointer;
}

.todo-data {
    font-size: 30px;
    color: rgb(228, 19, 124);
}

.todo-image {
    text-align: center;
    margin-top: 15px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 15s linear;
    }
}

.todo-item {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    border: 2px solid rgb(228, 19, 124);
    /* Đặt viền 2px màu tối */
    padding: 10px;
    /* Khoảng cách bên trong khung */
    margin: 10px 0;
    /* Khoảng cách giữa các khung */
    border-radius: 5px;
    /* Góc bo tròn (nếu muốn) */
    background-color: #f9f9f9;
    /* Màu nền nhẹ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Đổ bóng nhẹ */
}

.todo-conntent {
    color: rgb(228, 19, 124);
    margin: 10px 0;
    border: 2px solid rgb(228, 19, 124);
    /* Đặt viền 2px màu tối */
    padding: 10px;
    border-radius: 5px;
    /* Góc bo tròn (nếu muốn) */
    background-color: #f9f9f9;
    /* Màu nền nhẹ */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}