.todo-container {
    display: flex;
    flex-direction: column;
    /* Căn các phần tử theo chiều dọc */
    justify-content: center;
    /* Căn giữa theo chiều dọc */
    align-items: center;
    /* Căn giữa theo chiều ngang */
    height: 100vh;
    /* Chiều cao toàn màn hình */
    text-align: center;

}

.todo-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: rgb(228, 19, 124);
}

input {
    width: 200px;
    padding: 10px;
    border: 2px solid rgb(228, 19, 124);
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    width: 80px;
    padding: 10px;
    border: 2px solid rgb(228, 19, 124);
    border-radius: 4px;
    color: rgb(228, 19, 124);
    font-size: 16px;
}

.todo-data {
    font-size: 30px;
    color: rgb(228, 19, 124);
}